.text-section-default {
    margin-left: auto;
    margin-right: auto;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 7px;
    padding-left: 7px;
    color: rgba(0, 0, 0, 0.81);
}

.scrollable-y {
    overflow-y: scroll;
}

.underline-light-gray {
    border-bottom: 1px solid lightgray;
}

.header {
    background-color: aliceblue;
}

.bordered-container {
    border-radius: 5px;
    border: darkgray 1px dotted;
    margin-top: 2px;
    margin-bottom: 2px;
}

td, th {
    text-align: center;
}

.developer-info-area {
    font-size: 12px;
    text-align: justify;
    background-color: rgba(0, 213, 255, 0.03);
    border: 1px solid rgba(137, 225, 244, 0.5);
    padding: 4px;
    color: rgba(0, 113, 149, 0.95);
    border-radius: 5px;
    vertical-align: super;
    margin-top: 1px;
    margin-bottom: 1px;
}

.info-area {
    text-align: justify;
    background-color: rgba(0, 213, 255, 0.1);
    border: 1px solid rgb(137, 225, 244);
    padding: 4px;
    color: rgba(0, 113, 149, 0.95);
    border-radius: 5px;
    vertical-align: super;
}

.notificationBar {
    display: flex;
    font-size: 10px;
    position: fixed;
    top: 2px;
    right: 2px;
    text-align: left;
}

.failNotification {
    background-color: rgba(255, 0, 0, 0.1);
    border: 1px solid rgb(244, 137, 137);
    padding: 5px;
    color: rgba(149, 0, 0, 0.95);
    border-radius: 5px;
    width: 250px;
    overflow-wrap: break-word;
}

.successNotification {
    background-color: rgba(0, 255, 32, 0.1);
    border: 1px solid rgb(137, 244, 151);
    padding: 5px;
    color: rgba(4, 149, 0, 0.95);
    border-radius: 5px;
    width: 250px;
    overflow-wrap: break-word;
}

.waitingNotification {
    background-color: rgba(255, 184, 0, 0.1);
    border: 1px solid rgb(244, 222, 137);
    padding: 5px;
    color: rgba(149, 113, 0, 0.95);
    border-radius: 5px;
    width: 250px;
    overflow-wrap: break-word;
}

.text-sm {
    font-size: 12px;
}

.valid {
    background: rgba(0, 128, 0, 0.05);
}

.inputInvalid {
    width: 100%;
    height: 30px;
    padding: 2px 6px 2px 6px;
    border: 1px solid red;
    border-radius: 5px;
}

.inputDefault {
    width: 100%;
    height: 30px;
    padding: 2px 6px 2px 6px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

input:focus {
    outline: 0;
}

.closeIcon {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 3px;
    width: 12px;
}

